@model IEnumerable<MvcWeek1.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Cust", FormMethod.Get))
{
    @:客戶分類：
    @Html.DropDownList("selector",
        new SelectList(ViewBag.CategoryList, "Value", "Text"),
        "All",
        new { onchange = "form.submit();" });
    <br /><br />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶分類)
        </th>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = ViewBag.客戶名稱SortParam, selector = ViewBag.CustomerCategory })
        </th>
        <th>
            @Html.ActionLink("統一編號", "Index", new { sortOrder = ViewBag.統一編號SortParam, selector = ViewBag.CustomerCategory })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶分類)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("Export", "Cust", FormMethod.Post))
{
    <input type="submit" value="EXCEL" />
}
<p>
    <button id="export2">JSON</button>
</p>

@section Scripts{
    <script>
        var export2_onclick = function () {

            $.ajax({
                type: "post",
                url: "@Url.Action("Export2","Cust")",
                error: function () {
                    alert("Error!");
                },
                success: function (data) {
                    alert(JSON.stringify(data));
                }
            })
        };

        $(function () {
            $("#export2").click(export2_onclick);
        });
    </script>
}
